../venv/
../venv
venv/
venv
.venv/
.venv
.env/
.env

# Python cache files
__pycache__/
/__pycache__/
__pycache__/*
/__pycache__/* 
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw  